dash
dash-bootstrap-components
dash-html-components
dash-core-components
dash-table
plotly
pandas
Flask
openpyxl
gunicorn
scikit-learn
statsmodels
dash-auth
packaging
pipreqs
pre-commit
pytest
reportlab
yolk3k
termcolor
visdcc
dash-mantine-components
dash-iconify
ruamel.yaml
setuptools